:root{

}

*,html{
  padding: 0;
  margin:0;
}

/* Submit Form Page */
#submit__form{
  display: flex;
  flex-direction: column;
}
.submit{
  &__columns{
    &--form{
      display: flex;
      justify-content: space-between;
    }
    &--button{
      display: flex;
      justify-content: center;
    }
  }
  &__page{
      color: var(--textColor);
      padding: 1em 2em;
      margin-top: 10em;
      margin-bottom: 1em;
      background-color: var(--mainBgColor);
  }
  &__left{
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 800px;
    input, textarea{
      margin-bottom: 1em;
      padding: .5em;
      border-radius: 5px;
      border: none;
      outline: none;
    }
  }
  &__right{
    display: flex;
    flex-direction: column;
    align-items: center;
    span{
      font-size: 10em;
      margin-bottom: .2em;
      cursor: pointer;
    }
    #slf-fileupload{

    }
  }
}

#submit_userform{
  border: none;
  outline: none;
  padding: 1em 5em;
  background-color: #000;
  border-radius: 5px;
  color: #fff;
}
