:root{

}

*,html{
  padding: 0;
  margin:0;
}

/* Submit Form Page */
.submit{
  &__page{
      color: var(--textColor);
      padding: 1em 2em;
      margin-top: 10em;
      margin-bottom: 1em;
      background-color: var(--mainBgColor);
  }
  &__left{
    display: flex;
    flex-direction: column;
  }
}
